<nav class="bg-slate-900 text-white px-6 py-4 shadow-md">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <h1 class="text-xl font-semibold">
      <a href="/pages/home.html">🛍️Tienda</a>
    </h1>
    
    <div class="flex items-center space-x-6 w-full justify-end">
      <a href="/pages/home.html" class="hover:underline">Inicio</a>
      <a href="/pages/carrito.html" class="hover:underline">🛒Carrito</a>
      <div id="navbarUser" class="flex items-center space-x-4">
        
      </div>
    </div>
  </div>
</nav>
